<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'books_authors_app/css/style.css'%}">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <h1>Add a Book</h1>
            <form class="main" action="/process_book" method="POST">
                {%csrf_token%}
                Title: <input type="text" name="title">
                <br>
                Description: <textarea rows="4" cols="50" name="description"></textarea>
                <br>
                <input type="hidden" name="description" value="add">
                <input class="button" type="submit" value="ADD">
            </form>
        </div>
        <!-- start of the table -->
        <table style="border: 1px solid grey;">
            <tr>
                <th style="width:150px;height:15px;text-align:center;">ID</th>
                <th style="width:150px;height:15px;text-align:center;">Title</th>
                <th style="width:150px;height:15px;text-align:center;">Action</th>
            </tr>
            {%for book in books%}
            <tr>
                <td style="width:150px;height:15px;text-align:center;">{{book.id}}</td>
                <td style="width:150px;height:15px;text-align:center;">{{book.title}}</td>
                <td style="width:150px;height:15px;text-align:center;"><a href="/description/{{book.id}}">View</a></td>
            </tr>
            {% endfor %}
    </div>
</body>

</html>